.page-body {
   margin: 0 auto;
   background-image: url(../img/background-img.png);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
}
.header-box {
    margin: 0 auto;
    width: 1030px;
    display: flex;
    justify-content: space-between;
}

[class*="link"] {
    text-decoration: none;
}
.left-top-box {
    display: flex;
    margin-top: 51px;
}
.left-top-box:hover .header-logo-title {
    color: #F26522;
}
.left-top-box:hover .header-logo {
    content: url(../img/orange-logo.png);
}
.header-logo-title {
    margin: 0 0 0 9px;
    font-size: 29px;
    font-weight: bold;
    color:#fff;
    text-transform: uppercase;
    line-height: 29px;
}
.second-word {
    display: block;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 25px;
    /*цвет этого слова не нужен, ОН yаследуется У РОДИТЕЛЯ!! header-logo-title*/
}
.right-top-box {
    display: flex;
    margin-top: 51px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.mail-link {
    color: #fff;
    font-size: 18px;
    padding-bottom: 18px;
}
.mail-link:hover {
    color: #F26522;
}
.all-services {
    display: grid;
    margin: 0 auto;
    width: 1030px;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 64px;
}
.service {
    display: flex;
	flex-direction: column;
	align-items: center;
    position: relative;
}

.service-link:hover .service-tag {
    color: #F26522;
}
.option-photo {
    height: 220px;
}
.orange-block {
    background-color:#F26522;
    height: 55px;
    width: 99%;
    position: absolute;
    margin: 0;
    bottom: 2px;
    opacity: 0;
    transition: 0.7s ease-in-out;
}
.service:hover .orange-block {
    opacity: 1;
}
.title-first-line {
    font-size: 10px;
    color: #fff;
    padding-left: 16px;
    padding-top: 7px;
    margin: 0;
}
.price {
    font-size: 20px;
    color: #fff;
    padding: 8px 0 12px 16px;
    margin: 0;
}
.details {
    font-size: 14px;
    color: #fff;
    padding: 5px 0 5px 128px;
}
.details::after {
    content: "";
    background-image: url(../img/arrow.png);
    display: inline-block;
    width: 7px;
    height: 12px;
    margin-left: 17px;
}
.service-tag {
    font-size: 20px;
    color: white;
    text-align: center;
}
.service-link:nth-child(2){
    width: 98.5%;
}


.footer-text {
    font-size: 12px;
    color: #fff;
    text-align: center;
    margin-top: 29px;
    margin-bottom: 15px;
}
