
ul {
    list-style: none;
    padding-left: 0;
}
.centered-content {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabs {
    display: flex;
    cursor: pointer;
}

.tabs-title {
    padding: 20px;
    background-color: #23201D;
    color: #937341;
}

.active-tab {
    background-color:#937341 ;
    color: #23201D;
}
.tabs-text {
    display: none;
}
.active-text {
    display: block;
}

.tabs-content {
    margin: 30px 200px;
    font-size: 20px;
    background-color: #937341;
}
