.page-body {
    background-image: url(../img/background-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.page-header {
    background-color:rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
}
.main-heading {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    margin: 0;
}
.main-heading:hover {
    color: #3CB878;
}
.logo-link {
    text-decoration: none;
}
.toggle-theme {
  text-decoration: none;
  outline: none;
  display: inline-block;
  width: 140px;
  height: 35px;
  line-height: 35px;
  border-radius: 45px;
  margin: 5px 15px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 700;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0,0,0,.1);
  transition: .4s;
}
.toggle-theme:hover {
    background:#3CB878;;
    box-shadow: 0 15px 20px rgba(46,229,157,.4);
    color: white;
    transform: translateY(-7px);
}
.right-box{
    display: flex;
    justify-content: space-between;
    width: 350px;
}
.icon-box:hover .icons{
    fill: #3CB878;
}
.stick {
    border-left: 1px solid rgba(255, 255, 255, 0.6);
}
.login-reminder {
    color: white;
    padding: 5px 0;
}
.sign-link {
    color: white;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;
}
.sign-link:hover {
    color: #3CB878;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-form {
    width: 444px;
    position: absolute;
    background-color: #fff;
    margin-top: 94px;
    margin-bottom: 74px;
    top: 50%;
    transform: translate(0, -50%);
}
.grey-form {
    background-color: grey;
}
.green-square {
    position: absolute;
    border: 9px solid #3CB878;
    left: 0;
    top: 46px;
}
.form-box {
    margin: 15px 60px;
    display: flex;
    justify-content: space-between;
}
.sign-up {
    padding-top: 27px;
    font-size: 20px;
    color: #434343;
}
.log-link {
    padding-top: 30px;
    font-size: 14px;
    color: #3CB878;
}
.log-link:hover {
    text-decoration: underline;
}

.button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 158px;
    background-color: #305DB8;
    border-radius: 5px;
    padding: 10px;
    border: 0;
}
.button:last-child {
    background-color: #DF4A32
}
.button:last-child:hover {
    background-color: #C6422C;
}
.button:hover {
    background-color: #294F9D;
}
.button-stick {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    height: 28px;
}
.button-link {
    color: white;
}
.separation-box {
    margin: 30px 60px 15px 60px;
    display: flex;
    justify-content: space-between;
}
.separation-line {
    border: 1px solid #F2F2F2;
    width: 152px;
}
.letters-style {
    color: #848484;
    font-size: 14px;
    font-weight: normal;
    margin: 0 5px;
}
.alt-style{
    color: #fff;
}
.form {
    display: flex;
    flex-direction: column;
    padding: 0 60px 15px 60px;
    height: 424px;
    justify-content: space-between;
}
.form-input {
    padding: 15px 20px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);

}
.green-input {
    background-color:  #3CB878;
    color: #fff;
}
.form-input:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
.checkbox {
    display: none;
}
.checkbox+.accept {
    display: inline-block;

}
.checkbox+.accept::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    border: 1px solid #adb5bd;
    margin-right: 0.5em;
    border-color: rgba(0, 0, 0, 0.1);
}
.checkbox:checked+.accept::before {
    background-position: bottom left;
    background-image: url(../img/checkbox.png);
}
.form-link {
    padding-left: 5px;
    color: #3CB878;
}
.form-link:hover {
    text-decoration: underline;

}
.form-submit {
    padding: 15px 20px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: white;
}
.alt-submit {
    background:#000;
}
.form-submit:hover {
    background-color: #3CB878;
}
