body {
    padding: 50px 150px;
    font-size: 32px;
    background-color: rgb(231, 94, 94);
}

.form {
    color: #fff;
}

.form-input {
    font-size: 24px;
    border: 5px solid #000;
}

.buttons {
    font-size: 18px;
    padding: 10px 20px;
    border: 1px solid lightslategray;
    border-radius: 20px;
    background-color: #fff;
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 20px;
}
