.error {
    color:red;
}
.summary__checkoutBtn {
    padding: 10px 17px;
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    background: var(--primary-color);
    color: var(--light-color);
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
  }

  .summary__checkoutBtn:focus {
    outline: none;
    border: 1px solid var(--secondary-color);
  }

  .summary__checkoutBtn:hover {
    opacity: 0.75;
  }
  .summary__checkoutBtn:disabled {
    opacity: .4;
    cursor: default;
  }
