.container {
  width: 1280px;
  margin: 0 auto;
}

body {
  font-family: Montserrat;
}
body.variant {
  background-color: #373737;
}
header {
  margin-top: 40px;
}
ul {
  list-style: none; /**убираем маркеры списка*/
  margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
  padding-left: 0; /*убираем левый отступ*/
}
a {
  text-decoration: none; /**убираем подчеркивание текста ссылок*/
}
.header-menu {
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2.7px;
} /**задаем стили текста <a>  Родителю - и они работаеют на детях*/


.header-image {
  margin-top: 31.5px;
}
.header-menu-item {
  text-transform: uppercase;
}

.header-menu-item:hover {
  cursor: pointer;
}

.header-menu-link {
  color: red;

}

.header-menu-link.variant {
    color: #fff;
}

.heading {
  margin: 40px 0;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  color: #373737;
}
.heading.variant {
  color: #fff;
}
.theme {
  color: blue;
  text-transform: uppercase;
  border: 1px solid blue;
  padding: 10px 20px;
}
.theme:hover {
  cursor: pointer;
}
.paragraph {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.4px;
  color: #373737;
  margin: 38px 67.5px 28px 67.5px;
}
.paragraph.variant {
  color: #fff;
}
.main {
  text-align: center;
}

.button {
  background-color: red;
  border-radius: 4px;
  margin-top: 36px;
  width: 191px;
  height: 51px;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: white;
}
.button.variant {
    background-color: blue;
}
.page-footer {
  margin-top: 50px;
  padding: 29px 0;
  text-align: right;
}

.footer-text {
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 2.4px;
  color: #373737;
  margin-right: 105px;
}

.button .button-link {
  color: white;
}
