.card {
    list-style: none;
    width: 25%;
}
.card__img {
    object-fit: cover;
}
.card__info {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.price-cart {
    display: flex;
    padding: 15px;
}
.card__price {
    font-weight: bold;
}
.item-text {
    text-align: center;
}
