.App {
  text-align: center;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3 {
  margin: 0.5rem, 0;
}

h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.2rem;
}
h3 {
  font-size: 1rem;
}
a {
  text-decoration: nactive;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.col-1 {
  flex: 1;
}
.col-2 {
  flex: 2;
}
.block {
  background-color: rgb(206, 198, 198);
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}
.middle {
  max-width: 10rem;
  max-height: 10rem;
}
.small {
  max-width: 5rem;
  max-height: 5rem;
}
.btn {
  background-color: #000;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.3rem;
  margin: 0.2rem;
  border-radius: 0.5rem;
  border: 0.2rem yellow solid;
  cursor: pointer;
  width: 100%;
}
.btn-in {
  background-color: #fff;
  color: #000;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.3rem;
  margin: 0.2rem;
  border-radius: 0.5rem;
  border: 0.2rem yellow solid;
  cursor: pointer;
  width: 100%;
}
.btn__add {
  background-color: #40c0f0;
  font-weight: 800;
  font-size: 1rem;
  margin-right: 5px;
}
.btn__remove {
  background-color: #f04040;
  font-weight: 800;
  font-size: 1rem;
  margin-left: 5px;
}
.btn__clear {
  background-color: #2ace15;
  font-weight: 800;
  font-size: 1rem;
  margin-left: 10px;
}

.text-right {
  text-align: center;
}
.cart-fav {
  width: 20%;
  display: flex;
  justify-content: space-between;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  width: 400px;
}
.modal__header {
  text-align: left;
  padding: 15px 30px;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  position: relative;
}
.modal__text {
  padding-left: 30px;
  padding-right: 30px;
}
.modal__btn {
  border: nactive;
  border-radius: 5px;
  padding: 10px;
  width: 100px;
  margin: 15px 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}
.modal__btns-center {
  display: flex;
  justify-content: center;
}
/* .link {
  text-decoration: nactive;
  font-weight: bold;
  color: #00f;
}
.link--active {
  text-decoration: nactive;
  font-weight: bold;
  color:#f00;
} */

.link {
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 20px;
	position: relative;
	padding: 10px;
}

/* link active */
.link.active {
  color:rgb(255, 51, 0);
}
.link.active:before,
.link.active:after {
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	transition: all 0.3s ease;
}
.link.active:before {
	top: -2.5%;
	left: -1%;
	border-top: 4px solid rgb(255, 51, 0);
	border-left: 4px solid rgb(255, 51, 0);
}
.link.active:after {
	bottom: -2.5%;
	right: -1%;
	border-bottom: 4px solid rgb(255, 51, 0);
	border-right: 4px solid rgb(255, 51, 0);
}
.link.active:hover:before,
.link.active:hover:after {
	width: 99.5%;
	height: 100%;
	transition: all 0.3s ease;
}

/* link FIVE */

.link.five:after {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;

	width: 0%;
	height: 100%;

	border-bottom: 2px solid black;

	transition: width 0.3s ease;
}

.link.five:hover:after {
	left: 0;
	width: 100%;
	transition: width 0.3s ease;
}
