.link {
  color:brown;
  font-size: 30px;
  font-weight: bold;

}
.link__active {
  color: white;
  font-size: 30px;
  font-weight: bold;
}
.cart__link {
  background: #794646;
}
.cart__link__active {
  background: white;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
  background: var(--primary-color);
  position: sticky;
  top: 0;
  left: 0;
}

.navbar__logo {
  font-size: 40px;
  font-weight: bold;
  color: #fff;
}
.row {
  display: flex;
  align-items: center;;
}
.row > *{
  margin: 0 5px 0;
}
.navbar__cart {
  background: #fff;
  /* width: 180px; */
  border: none;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
}
.active {
  background: #ff0;
}
.navbar__cart:hover {
  opacity: 0.75;
}

.cart__title {
  font-size: 30px;
  font-weight: bold;
  color: var(--dark-color);
}

.cart__image {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.cart__counter {
  height: 40px;
  width: 40px;
  border: 1px solid var(--secondary-color);
  border-radius: 50%;
  color: var(--dark-color);
  background: var(--light-color);
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
