.modal {
  margin: 0 auto;
  width: 450px;
  &__header {
    text-align: left;
    padding: 15px 30px;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  &__text {
    padding-left: 30px;
    padding-right: 30px;
  }
  &__btn {
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100px;
    margin: 15px 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
