  <footer class="page-footer">
    <span class="footer-text"
      >Copyright by phototime - all right reserved</span
    >
    </footer>
   <script src="script.js"></script>
  </div>
 </body>
</html>
