<body>
  <div class="container">
    <header>
      <nav>
        <ul class="header-menu">
          <li class="header-menu-item">
            <a
              href="https://dan-it.com.ua/uk/"
              target="_blank"
              class="header-menu-link"
              >home</a
            >
          </li>
          <li class="header-menu-item">
            <a href="#" class="header-menu-link">photoapp</a>
          </li>
          <li class="header-menu-item">
            <a href="#" class="header-menu-link">design</a>
          </li>
          <li class="header-menu-item">
            <a href="#" class="header-menu-link">download</a>
          </li>
          <input
            type="checkbox"
            name="toggle"
            id="toggle-button"
            class="toggle-button"
          />
          <span id="theme" class="theme">Light</span>
        </ul>
      </nav>
    </header>
