.singleItem {
  max-width: 60rem;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
}

.singleItem__image {

  object-fit: contain;
  margin-right: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
}

.singleItem__details {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--secondary-color);
}

.details__title,
.details__price {
  font-size: 1.2rem;
  font-weight: bold;
}

.details__description {
  font-size: 1rem;
}

.details__addBtn {
  padding: 10px 17px;
  background: var(--secondary-color);
  color: var(--light-color);
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.details__addBtn:hover {
  opacity: 0.75;
}
.buttons__incart {
  background: var(--primary-color);
  color: var(--light-color)
}
