@import "./mixins";

.container {
  width: 1280px;
  margin: 0 auto;
}

body {
  font-family: Montserrat;
  color: $dark;
}

header {
  margin-top: 40px;
}

ul {
  list-style: none; //**убираем маркеры списка*/
  margin: 0; //*убираем верхнее и нижнее поле, равное 1em*/
  padding-left: 0; //*убираем левый отступ*/
}
a {
  text-decoration: none; //**убираем подчеркивание текста ссылок*/
  color: red;
}
.header-menu {
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2.7px;
} //**задаем стили текста <a>  Родителю - и они работаеют на детях*/

.header-image {
  margin-top: 45px;
}
.header-menu-item {
  text-transform: uppercase;
}

.header-menu-item:hover {
  cursor: pointer;
}

//*Toggle Theme Button styles

.toggle-button {
  position: relative;
  width: 100px;
  height: 50px;
  margin: 0;
  vertical-align: top;
  background: #ffffff;
  border: 1px solid #bbc1e1;
  border-radius: 30px;
  outline: none;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.toggle-button::after {
  content: "";
  position: absolute;
  left: 3px;
  top: 1.5px;
  width: 45px;
  height: 45px;
  background-color: red;
  border-radius: 50%;
  transform: translateX(0);
  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.toggle-button:checked::after {
  transform: translateX(calc(100% + 3px));
  background-color: #fff;
}

.toggle-button:checked {
  background-color: $dark;
}

.heading {
  margin: 40px 0;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 3.3px;
  text-transform: uppercase;

}

.theme {
  color: blue;
  // text-transform: uppercase;
  border: 1px solid blue;
  padding: 10px 20px;
}
.theme.dark {
  color: #fff;
  border: 1px solid #fff;
}

.theme:hover {
  cursor: pointer;
}

.paragraph {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 2px;
  margin: 45px auto;
  text-align: justify;
}

.main {
  text-align: center;
}

.button {
  background-color: red;
  border-radius: 4px;
  margin-top: 36px;
  width: 191px;
  height: 51px;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: white;
}
.button.dark {
  background-color: blue;
}

.page-footer {
  margin-top: 50px;
  padding: 29px 0;
  text-align: right;
}

.footer-text {
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 2.4px;
  margin-right: 105px;
}

.button .button-link {
  color: white;
}
