

.container {
    margin: 0 auto;
    width: 1280px;
}
.another-color {
    color: cyan;
    margin-bottom: 38px;
}
.logo  {
    font-size: 80px;
    color: black;
    margin-top: 61px;
    margin-bottom: 38px;
}
a {
	text-decoration: none;
    text-align: center;
    color:black;
}

.header-menu {
    display: flex;
    font-size: 24px;
    background-color:#35444F;
    justify-content: center;
}
.header-menu-item {
    
    border-left: 1px solid white;
    background-color:#35444F;
}
.header-menu-link {
    display: block;
    padding: 15px 25px;
    color: #ffffff;
}
.header-menu-item:hover {
    background-color: #222F3A;
}
.content {
    display: flex;
    margin-top: 50px;
}
.content-image {
    transition: 1s ease;
}
.content-image:hover {
    transform: scale(1.1);
}
.side-menu {
    display: flex;
    width: 344px;
    border: 1px solid black;
    margin-left: 0;
    flex-direction: column;
}
.side-menu-item {
    font-size: 27px;
    color:#495863;

}
.side-menu-link {
    display: block;
    text-align: left;
    padding: 20px 42px;
    color: #485863;
}
.side-menu-item:hover {
    background-color: #DBDBDB;
}
.side-menu-link:hover {
    margin-left: 30px;
    color: black;
}
.pic-and-text {

    padding-left: 52px;
}
.photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 529px;
    border: 1px solid black;
}
.text-block {
    margin-top: 37px;
    font-size: 18px;
    line-height: 24px;
    color:#2C2C2C;
}
.footer {
    margin-bottom: 30px;
    margin-top: 54px;

}
.container-footer {
    display: flex;
    background-color: rgba(99, 105, 110, 0.48);
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}
.footer-menu {
    display: flex;
    font-size: 28px;
}
.footer-menu-item {
    padding: 15px;
}
.footer-menu-link {
    color: #0C1927;
}
.footer-menu-link:hover {
    color: darkcyan;
    text-decoration: underline;
}
.copyright {
    color: #0C1927;
    font-size: 22px;
    /*margin: auto; */
}
