.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .img-container {
    position: relative;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center; /**это нужно чтоб разместить image-text по центру, абсолютно */
  }
  .image-text {
    position: absolute;
    font-size: 20px;
    transition: 0.7s ease-in-out;
  }
  .image-to-show {
    width: 400px;
    height: 400px;
    opacity: 1;
    transition: 0.7s ease-in-out;
  }

  .fade {
    opacity: 0;
  }

  .btn {
    border: none;
    border-radius: 20px;
    min-width: 120px;
    padding: 7px;
    color: #fff;
    font-size: 14px;
    background-color: #33333a;
    cursor: pointer;
    margin: 50px 40px;
    text-align: center;
    display: inline-block;
  }
  .btn:active,
  .btn:focus {
    outline: none;
  }
