* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content-table {
    border-collapse: collapse;
    font-size: 1.5em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-table th,
.content-table td {
    width: 25px;
    height: 25px;
    border: 1px solid black;
    
}
.content-table td.active {
    border: 1px solid #fff;
}

.content-table tbody tr {
    border-bottom: 1px solid grey;
}

/* .content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
} */

/* .content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
} */
.active {
    background-color: #000;

}
